CommonLog/Schemas/EmpMainSystem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.EniqueSolutions.com/EmpMainSystem" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.EniqueSolutions.com/EmpMainSystem">

    <element name="AllTableFileInput"
    	type="tns:AllTableFileInputType">
    </element>
    
    <complexType name="AllTableFileInputType">
    	<sequence>
    		<element name="FileName" type="string" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>
</schema>