CommonLog/Schemas/Fault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Fault" xmlns:tns="http://www.example.org/Fault" elementFormDefault="qualified">

    <element name="Fault" type="tns:FaultType"></element>
    
    <complexType name="FaultType">
    	<sequence>
    		<element name="Message" type="string" maxOccurs="1" minOccurs="0"></element>
    		<element name="MessageCode" type="string" maxOccurs="1" minOccurs="0"></element>
    		<element name="OptionalValue" type="string" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>
</schema>